@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --PRIMARY: #461fa6;
    --PRIMARY_FOREGROUND: #ffffff;

    --SECONDARY: #3b82f6;
    --SECONDARY_FOREGROUND: #f0f4f8;

    --ACCENT: #9333ea;

    --DANGER: #ef4444;
    --DANGER_FOREGROUND: #ffffff;

    --SUCCESS: #10b981;
    --SUCCESS_FOREGROUND: #f0f4f8;

    --BACKGROUND: #f9fafb;
    --BACKGROUND_SECONDARY: #e5e7eb;
    --FOREGROUND: #111827;
  }
}

body {
  overscroll-behavior: none;
  color: var(--FOREGROUND);
  background-color: var(--BACKGROUND);
}

p {
  word-wrap: break-word;
}

/* Removes autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
  font-size: inherit;
}
